# Car Dataset Project

In [67]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [68]:
car = pd.read_csv(r'D:\Other\1-IBM Data Analysis\(10) Data Analyst Portfolio Projects\4- Data Analysis Projects\Python Projects - Data Analytics\Project - 2\file.csv')
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [10]:
car.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

In [43]:
car.shape

(432, 15)

# Data Cleaning

## 1- Converting the wrong types columns to proper one

In [11]:
car[['MSRP','Invoice']] = car[['MSRP','Invoice']].astype(float)

ValueError: could not convert string to float: '$36,945 '

## 2- Finding Nulls

### a. Dealing with float and int columns (by replacing with mean)

In [14]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [30]:
car.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [35]:
for col in car.columns:
    if car[col].dtypes == "float" or car[col].dtypes == "int":
        car[col].fillna(car[col].mean(), inplace=True)
    else:
        car[col] = car[col]

In [36]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

### b. Dealing with object columns (by replacing most repetitive value)

In [38]:
for col in car.columns:
    if car[col].dtypes == "object":
        car[col].fillna(car[col].value_counts().idxmax(), inplace=True)
    else:
        car[col] = car[col]

In [39]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

# Replying some Questions

In [44]:
car['Make'].value_counts()

Make
Toyota           32
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Kia              11
Mazda            11
Lexus            11
Pontiac          11
Subaru           11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Porsche           7
Saab              7
Acura             7
Oldsmobile        3
Jeep              3
Land Rover        3
MINI              2
Scion             2
Isuzu             2
Hummer            1
Name: count, dtype: int64

In [50]:
car_filtered1 = car[(car['Origin'] == 'Asia') | (car['Origin'] == 'Europe')]

In [52]:
car_filtered1['Origin'].value_counts()

Origin
Asia      162
Europe    123
Name: count, dtype: int64

In [55]:
car_filtered2 = car[~(car['Weight'] > 4000)]

In [56]:
car_filtered2.shape

(329, 15)

In [64]:
car['MPG_City'] = car['MPG_City'] + 3

In [65]:
car['MPG_City'].value_counts()

MPG_City
21.0    69
23.0    57
20.0    41
24.0    38
22.0    37
19.0    31
27.0    22
29.0    22
25.0    18
18.0    17
17.0    13
16.0    12
28.0     9
35.0     7
32.0     7
26.0     7
31.0     5
15.0     4
13.0     2
38.0     2
30.0     1
49.0     1
63.0     1
39.0     1
34.0     1
62.0     1
36.0     1
41.0     1
Name: count, dtype: int64

In [69]:
# another method
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)
car['MPG_City'].value_counts()

MPG_City
21.0    69
23.0    57
20.0    41
24.0    38
22.0    37
19.0    31
27.0    22
29.0    22
25.0    18
18.0    17
17.0    13
16.0    12
28.0     9
35.0     7
32.0     7
26.0     7
31.0     5
15.0     4
13.0     2
38.0     2
30.0     1
49.0     1
63.0     1
39.0     1
34.0     1
62.0     1
36.0     1
41.0     1
Name: count, dtype: int64